h1 {
  text-decoration: wavy;
  color: aquamarine;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

img {
  border-radius: 50%;
  border: aqua solid 3px;
  box-sizing: border-box;
}

.mainText {
  color: blueviolet;
}

body {
  background-color: lavenderblush;
}

.bigText {
  font-size: 60px;
}
